Source: ros-hydro-dynamixel-tutorials
Section: misc
Priority: extra
Maintainer: Antons Rebguns <arebgun@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/dynamixel_driver
Standards-Version: 3.9.2

Package: ros-hydro-dynamixel-tutorials
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-dynamixel-controllers
Description: Example configuration and launch file for dynamixel_motor stack.
